---
- job:
    name: {{ JOB_NAME }}
    project-type: pipeline

    sandbox: true
    concurrent: true
    properties:
      - copyartifact:
          projects: "*"
      {% if 'mirror-openshift-release' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 200
          artifact-num-to-keep: 200
      {% elif 'daily-ipi' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 30
          artifact-num-to-keep: 30
      {% else %}
      - build-discarder:
          num-to-keep: 30
          artifact-num-to-keep: 30
      {% endif %}
    pipeline-scm:
      scm:
        - git:
            url: https://github.com/ppc64le-cloud/jenkins-infra.git
            branches:
              - master
            credentials-id: github
            clean: true
      script-path: {{ JENKINS_FILE }}
